.top {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items:center;
}

.topContent {
  width: 80%;
  height: 80%;
  /* border: solid 5px #F4FBFE; */
}

.topContent div {
  width: 100%;
  height: 100%;
  line-height: 100%;
  display: inline-block;
  font: bold 300% Consolas, Monaco, monospace;
  color: #F4FBFE;
  /* font-weight: bold; */
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid transparent;
}
