.top {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items:center;
}

.topContent {
  width: 50%;
  height: 50%;
  border: solid 10px black;
}

.topContent div {
  display: inline-block;
  /* font: bold 200% Consolas, Monaco, monospace; */
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  border-right: 2px solid transparent;
}
